# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/releng @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/releng @mozilla-mobile/fenix

# --- PERFORMANCE START --- #
# The performance team would like to monitor some files to understand
# when performance-impacting changes occur. Our intent is not to block
# these changes (for now) but to be aware of them. Please let us know
# if the CODEOWNERS system makes this impractical. We're available at
# #perf-android-frontend on Matrix.

# The perf team is relying on CODEOWNERS to catch regressions. If
# there is a single syntax error in the file, no rules will work.
# Therefore, we make the Perfomance team code owners of this file.
/.github/CODEOWNERS @mozilla-mobile/Performance

# Own /perf/ src directories which typically includes perf code architecture
# or code that monitors for perf regressions. This is our main way to own code
# because it's simpler and less fragile than listing many specific files to own.
/**/src/**/perf/** @mozilla-mobile/Performance

# Possible regressions throughout the app
*.pro @mozilla-mobile/Performance
*proguard* @mozilla-mobile/Performance
# --- PERFORMANCE END --- #
