<?xml version="1.0" encoding="utf-8"?>
<!--
  sharedUserId: This release type is meant to replace Firefox (Release channel) and therefore needs to inherit
                its sharedUserId for all eternity. Shipping an app update without sharedUserId can have
                fatal consequences. For example see:
                - https://issuetracker.google.com/issues/36924841
                - https://issuetracker.google.com/issues/36905922
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="${sharedUserId}">
    <application
        android:name="org.mozilla.fenix.MigratingFenixApplication"
        tools:replace="android:name">

        <!-- Overriding the alias of the main manifest to route app launches through our
             MigrationDecisionActivity which will show the migration screen before launching
             into the app if needed. -->
        <activity-alias
            android:name="${applicationId}.App"
            android:targetActivity="org.mozilla.fenix.MigrationDecisionActivity"
            android:taskAffinity="${applicationId}.BROWSER"
            tools:replace="android:targetActivity" />

        <activity
            android:name="org.mozilla.fenix.MigrationDecisionActivity"
            android:taskAffinity="${applicationId}.BROWSER"
            android:exported="false" />

        <service android:name="org.mozilla.fenix.MigrationService" />
    </application>
</manifest>
