<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="org.mozilla.fenix">

    <application>

        <service android:name=".customtabs.CustomTabsService">
            <!-- Trusted Web Activities are currently only supported in nightly. -->
            <intent-filter tools:node="removeAll" />
            <intent-filter>
                <action android:name="android.support.customtabs.action.CustomTabsService" />
                <category android:name="androidx.browser.trusted.category.TrustedWebActivities" />
            </intent-filter>
        </service>

    </application>

</manifest>
