<manifest
        package="org.mozilla.fenix"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
            tools:ignore="ProtectedPermissions" />

    <application
            tools:replace="android:name"
            android:name="org.mozilla.fenix.DebugFenixApplication">

        <activity android:name=".autofill.AutofillUnlockActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".autofill.AutofillConfirmActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity android:name=".autofill.AutofillSearchActivity"
            android:exported="false" />

        <service
            android:name=".autofill.AutofillService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
