<manifest
        package="org.mozilla.fenix"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            tools:replace="android:name"
            android:name="org.mozilla.fenix.DebugFenixApplication"/>

</manifest>